
			body {
    				border: 0px;
    				margin: 0px;
    				padding: 0px;
				background-color:#F6FAF7;
			}
			div.logo {	
				float:left;
				padding-top:10px;
				background-color:#03AF00;
				height:70px;
				width:165px;
			}
			div.logo img {
				padding-left:100px;
				width:55px;
				height:55px;
			}
			div.topLegend {	
				overflow:hidden;
				background-color:#03AF00;
				height:70px;
				padding-top:10px;
			}
			div.topLegend h {
				color:white;
				font-size:45px;
				font-weight:bold;
				padding-left:0px;
			}
			div.leftPanel {
				height:100vh;
				width:20%;
				float:left;
				padding:30px;
				padding-top:20px;
				font-size:25px;

			}
			ol.leftPanel li {
				color:black;
				margin:5px;
				padding:5px;
				color:#054EA0
				
			}
			div.rigthSection {
				overflow:hidden;
				height:100%;
				font-size:25px;
				padding-left:120px;
				padding-right:10%;
				padding-top:30px;
				padding-bottom:200px;
			}
			div.rigthSection p {
				text-align:justify;
			}
  			div.output {
				border:2px solid black;
				padding:20px;
				background:white;
			}
			code.installation {
				padding-bottom:5px;
				padding-left:5px;
				background-color:gray;
				color:white;
			}
			h2 {
				color:steelblue;
			}
			h3 {
				color:steelblue;
			}
			img {
				padding-left:0%;
				padding-right:30%;
				margin:none;
				display: block; 
			}
			div.rigthSection p.next {
				text-align:center;
				color:#BE0F0F;
				font-size:35px;
				font-weight:bold;
			}			
		OL { counter-reset: item }
   		LI { display: block }
   		LI:before { content: counters(item, ".") " "; counter-increment: item }
